.card{
  border: 1px solid #dadce0 ;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.img{
  max-width: 60%;
  border-radius: 50%;
}
